<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.activiti.designer.elsag.application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.activiti.designer.eclipse.common.Application">
         </run>
      </application>
   </extension>
   <extension
         id="ServiceCompositionFramework"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.activiti.designer.elsag.application"
            name="Service Composition Framework">
         <property
               name="windowImages"
               value="icons/aniketos.png,icons/aniketos.png,icons/aniketos.png,icons/aniketos.png,icons/aniketos.png">
         </property>
         <property
               name="aboutText"
               value="Version 1.4.5">
         </property>
         <property
               name="aboutImage"
               value="icons/aniketos.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="20,200,410,15">
         </property>
         <property
               name="startupMessageRect"
               value="22,180,410,20">
         </property>
         <property
               name="appName"
               value="Service Composition Framework">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.activiti.designer.eclipse.perspective.SCFPerspective"
            fixed="true"
            icon="icons/aniketos.png"
            id="org.activiti.designer.eclipse.perspective.SCFPerspective"
            name="Service Composition Framework">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="settings"
               label="Settings">
            <command
                  commandId="org.activiti.designer.elsag.settingsDialog"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="General"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.activiti.designer.elsag.handler.SettingsHandler"
            id="org.activiti.designer.elsag.settingsDialog"
            name="Network">
      </command>
   </extension>
   <extension
         id="ServiceCompositionFrameworkSAP"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.activiti.designer.elsag.application"
            name="Service Composition Framework">
         <property
               name="windowImages"
               value="icons/aniketos.png,icons/aniketos.png,icons/aniketos.png,icons/aniketos.png,icons/aniketos.png">
         </property>
         <property
               name="aboutText"
               value="Service Composition Framework">
         </property>
         <property
               name="aboutImage"
               value="icons/aniketos.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="20,200,410,15">
         </property>
         <property
               name="startupMessageRect"
               value="22,180,410,20">
         </property>
      </product>
   </extension>
   <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="*">
        <hiddenMenuItem
              id="org.eclipse.ui.run">
        </hiddenMenuItem>
        <hiddenMenuItem
              id="org.eclipse.search.menu">
        </hiddenMenuItem>
        <hiddenToolBarItem
              id="org.eclipse.search.searchActionSet">
        </hiddenToolBarItem>
        <hiddenToolBarItem
              id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar">
        </hiddenToolBarItem>
        <hiddenToolBarItem
              id="org.eclipse.ui.edit.text.gotoLastEditPosition">
        </hiddenToolBarItem>
        <hiddenToolBarItem
              id="org.eclipse.debug.ui.launchActionSet">
        </hiddenToolBarItem>
        <hiddenMenuItem
              id="org.eclipse.jdt.ui.refactoring.menu">
        </hiddenMenuItem>
        <hiddenMenuItem
              id="org.eclipse.jdt.ui.source.menu">
        </hiddenMenuItem>
        <hiddenMenuItem
              id="org.eclipse.ui.edit.text.openLocalFile">
        </hiddenMenuItem>
        <hiddenMenuItem
              id="org.eclipse.ui.edit.text.delimiter.windows">
        </hiddenMenuItem>
        <hiddenMenuItem
              id="org.eclipse.ui.edit.text.delimiter.macOS9">
        </hiddenMenuItem>
        <hiddenMenuItem
              id="org.eclipse.ui.edit.text.delimiter.unix">
        </hiddenMenuItem>
        <hiddenMenuItem
              id="org.eclipse.ui.window.showKeyAssist">
        </hiddenMenuItem>
     </perspectiveExtension>
  </extension>
  <extension
        point="org.eclipse.ui.activities">
     <activity
           id="org.activiti.designer.eclipse.activity1"
           name="name">
     </activity>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern="org.eclipse.ui.editors/org.eclipse.ui.edit.text.gotoNextAnnotation">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern="org.eclipse.ui.editors/org.eclipse.ui.edit.text.gotoPreviousAnnotation">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern="org.eclipse.ui.editors/org.eclipse.ui.editors.wizards.UntitledTextFileWizard">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.new.folder">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern="org.eclipse.wst.xml.ui/org.eclipse.wst.xml.ui.XMLExampleProjectCreationWizard">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.new.project">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.new.file">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern="org.eclipse.wst.xml.ui/org.eclipse.wst.xml.ui.internal.wizards.NewXMLWizard">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.wizards.JavaProjectWizard">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.wizards.NewPackageCreationWizard">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.wizards.NewClassCreationWizard">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.wizards.NewInterfaceCreationWizard">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.wizards.NewSourceFolderCreationWizard">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.wizards.NewEnumCreationWizard">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.wizards.NewAnnotationCreationWizard">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.wizards.NewJavaWorkingSetWizard">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern="org.eclipse.search/org.eclipse.search.internal.ui.text.TextSearchPage">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.JavaSearchPage">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern=".*/org.eclipse.search.*">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           isEqualityPattern="true"
           pattern="org.eclipse.jdt.ui.navigate.open.type">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern="org.eclipse.mofscript.editor/org.eclipse.mofscript.editor.wizards.MofScriptNewWizard">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern="org.eclipse.wst.xml.ui/org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorPart">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="org.activiti.designer.eclipse.activity1"
           pattern="org.eclipse.ui.editors/org.eclipse.ui.DefaultTextEditor">
     </activityPatternBinding>
  </extension>
  <extension
        point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
     <propertyTabs
           contributorId="BPMNdiagram.PropertyContributor">
        <propertyTab
              afterTab="org.activiti.designer.mainConfigTab"
              category="Activiti"
              id="org.activiti.designer.AniketosTab"
              image="icons/aniketos16x16.png"
              label="Security Requirements">
        </propertyTab>
        <propertyTab
              category="Activiti"
              id="org.activiti.designer.ioTab"
              image="icons/aniketos16x16.png"
              label="Define input">
        </propertyTab>
        <propertyTab
              category="Activiti"
              id="org.activiti.designer.ThreatTab"
              image="icons/aniketos16x16.png"
              label="Threat Info">
        </propertyTab>
        <propertyTab
              category="Activiti"
              id="org.activiti.designer.VariableTab"
              image="icons/aniketos16x16.png"
              label="Result variable">
        </propertyTab>
        <propertyTab
              afterTab="org.activiti.designer.servicetask"
              category="Activiti"
              id="org.activiti.designer.PlanningTab"
              image="icons/aniketos16x16.png"
              label="Plans creation">
        </propertyTab>
        <propertyTab
              afterTab="org.activiti.designer.PlanningTab"
              category="Activiti"
              id="org.activiti.designer.rule"
              image="icons/aniketos16x16.png"
              label="Runtime behaviour">
        </propertyTab>
        <propertyTab
              afterTab="org.activiti.designer.generalTab"
              category="Activiti"
              id="org.activiti.designer.servicetask"
              image="icons/aniketos16x16.png"
              label="Service Configuration">
        </propertyTab>
        <propertyTab
              afterTab="org.activiti.designer.ThreatTab"
              category="Activiti"
              id="org.activiti.designer.ThreatTabId"
              image="icons/aniketos16x16.png"
              label="Threat Id">
        </propertyTab>
        <propertyTab
              afterTab="org.activiti.designer.mainConfigTab"
              category="Activiti"
              id="org.activiti.designer.errorcode"
              label="Error Code">
        </propertyTab>
        <propertyTab
              category="Activiti"
              id="org.activiti.designer.Input"
              image="icons/aniketos16x16.png"
              label="Define Input">
        </propertyTab>
        <propertyTab
              afterTab="org.activiti.designer.rule"
              category="Activiti"
              id="org.activiti.designer.DeployTab"
              image="icons/aniketos16x16.png"
              label="Deploy">
        </propertyTab>
     </propertyTabs>
  </extension>
  <extension
        point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections
           contributorId="BPMNdiagram.PropertyContributor">
        <propertySection
              class="org.activiti.designer.elsag.gui.property.PropertyAniketosGeneralSection"
              filter="org.activiti.designer.elsag.gui.property.PropertyDiagramFilter"
              id="org.activiti.designer.AniketosTab.diagram"
              tab="org.activiti.designer.AniketosTab">
        </propertySection>
        <propertySection
              class="org.activiti.designer.elsag.gui.property.PropertyAniketosUserTaskSection"
              filter="org.activiti.designer.elsag.gui.property.PropertyUserTaskFilter"
              id="org.activiti.designer.ioTab.userTask"
              tab="org.activiti.designer.ioTab"> 
        </propertySection>
        <propertySection
              class="org.activiti.designer.elsag.gui.property.PropertyAniketosServiceTaskSection"
              filter="org.activiti.designer.elsag.gui.property.PropertyServiceTaskFilter"
              id="org.activiti.designer.mainConfigTab.AniketosServiceTaskSection"
              tab="org.activiti.designer.servicetask">
        </propertySection>
        <propertySection
              class="org.activiti.designer.elsag.gui.property.PropertyFormPropertySection"
              filter="org.activiti.designer.elsag.gui.property.PropertyFormPropertyFilter"
              id="org.activiti.designer.formTab.formProperty"
              tab="org.activiti.designer.formTab">
        </propertySection>
        <propertySection
              class="org.activiti.designer.elsag.gui.property.ThreatEventPropertySection"
              filter="org.activiti.designer.elsag.gui.property.PropertyBoundaryErrorThreatFilter"
              id="org.activiti.designer.ThreatTab.ThreatEvent"
              tab="org.activiti.designer.ThreatTab">
        </propertySection>
        <propertySection
              class="org.activiti.designer.elsag.gui.property.PropertyAniketosRuleSection"
              filter="org.activiti.designer.elsag.gui.property.PropertyDiagramFilter"
              id="org.activiti.designer.RuleTab"
              tab="org.activiti.designer.rule">
        </propertySection>
        <propertySection
              class="org.activiti.designer.elsag.gui.property.PropertyAniketosPlanningSection"
              filter="org.activiti.designer.elsag.gui.property.PropertyDiagramFilter"
              id="org.activiti.designer.Planning"
              tab="org.activiti.designer.PlanningTab">
        </propertySection>
        <propertySection
              class="org.activiti.designer.elsag.gui.property.PropertyBoundaryErrorSection"
              filter="org.activiti.designer.elsag.gui.property.PropertyBoundaryErrorFilter"
              id="org.activiti.designer.mainConfigTab.errorboundaryevent"
              tab="org.activiti.designer.errorcode">
        </propertySection>
        <propertySection
              class="org.activiti.designer.elsag.gui.property.PropertyBoundaryErrorSection"
              filter="org.activiti.designer.elsag.gui.property.PropertyBoundaryErrorThreatFilter"
              id="org.activiti.designer.mainConfigTab.threatboundaryevent"
              tab="org.activiti.designer.ThreatTabId">
        </propertySection>
        <propertySection
              class="org.activiti.designer.elsag.gui.property.PropertyAniketosStartEventSection"
              filter="org.activiti.designer.elsag.gui.property.PropertyAniketosStartEventFilter"
              id="org.activiti.designer.elsag.inputTab"
              tab="org.activiti.designer.Input">
        </propertySection>
        <propertySection
              class="org.activiti.designer.elsag.gui.property.PropertyAniketosDeploySection"
              filter="org.activiti.designer.elsag.gui.property.PropertyDiagramFilter"
              id="org.activiti.designer.Deploy"
              tab="org.activiti.designer.DeployTab">
        </propertySection>
     </propertySections>
  </extension>
  <extension
        id="product"
        point="org.eclipse.core.runtime.products">
     <product
           application="org.activiti.designer.elsag.application"
           name="Service Composition Framework">
        <property
              name="windowImages"
              value="/org.activiti.designer.elsag/icons/aniketos.png,/org.activiti.designer.elsag/icons/aniketos.png,/org.activiti.designer.elsag/icons/aniketos.png,/org.activiti.designer.elsag/icons/aniketos.png,/org.activiti.designer.elsag/icons/aniketos.png">
        </property>
        <property
              name="aboutText"
              value="Version 1.4.5">
        </property>
        <property
              name="aboutImage"
              value="/org.activiti.designer.elsag/icons/aniketos.png">
        </property>
        <property
              name="startupForegroundColor"
              value="000000">
        </property>
        <property
              name="startupProgressRect"
              value="20,200,410,15">
        </property>
        <property
              name="startupMessageRect"
              value="22,180,410,20">
        </property>
        <property
              name="appName"
              value="Service Composition Framework">
        </property>
        <property
              name="preferenceCustomization"
              value="plugin_customization.ini">
        </property>
     </product>
  </extension>

</plugin>
