<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <!-- TODO: Change nameFilter-->
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="eu.aniketos.mtm.contribution1"
            nameFilter="*.srs">
         <menu
               label="MTM"
               path="additions"
               id="eu.aniketos.mtm.menus.srs2bpmn">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               label="SRS to BPMN Activiti Transformation"
               class="eu.aniketos.mtm.popup.actions.SrsPopup"
               menubarPath="eu.aniketos.mtm.menus.srs2bpmn/group"
               enablesFor="1"
               id="eu.aniketos.mtm.actions.srs2bpmn">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="eu.aniketos.mtm.contribution1"
            nameFilter="*.xml">
         <menu
               label="MTM"
               path="additions"
               id="eu.aniketos.mtm.menus.srs2bpmn">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               label="SRS to BPMN Activiti Transformation"
               class="eu.aniketos.mtm.popup.actions.SrsPopup"
               menubarPath="eu.aniketos.mtm.menus.srs2bpmn/group"
               enablesFor="1"
               id="eu.aniketos.mtm.actions.srs2bpmn">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="MTM"
            id="eu.aniketos.mtm.commands.cat1"
            name="MTM">
      </category>
      <command
            categoryId="eu.aniketos.mtm.commands.cat1"
            id="eu.aniketos.mtm.commands.mtm"
            name="MTM Transformation Wizard">
      </command>
      <command
            categoryId="eu.aniketos.mtm.commands.cat1"
            id="eu.aniketos.mtm.commands.mappinggen"
            name="MTM Mapping Generation Wizard">
      </command>
      <command
            categoryId="eu.aniketos.mtm.commands.cat1"
            id="eu.aniketos.mtm.commands.conspecgen"
            name="MTM ConSpec Generation Wizard">
      </command>
      <command
            categoryId="eu.aniketos.mtm.commands.cat1"
            id="eu.aniketos.mtm.commands.conspecgenfromactiviti"
            name="MTM ConSpec Generation From Activiti Wizard">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.aniketos.mtm.handlers.MtmHandler"
            commandId="eu.aniketos.mtm.commands.mtm">
      </handler>
      <handler
            class="eu.aniketos.mtm.handlers.MappingGenerationCommandHandler"
            commandId="eu.aniketos.mtm.commands.mappinggen">
      </handler>
      <handler
            class="eu.aniketos.mtm.handlers.ConSpecGenerationCommandHandler"
            commandId="eu.aniketos.mtm.commands.conspecgen">
      </handler>
      <handler
            class="eu.aniketos.mtm.handlers.ConSpecGenerationFromActivitiCommandHandler"
            commandId="eu.aniketos.mtm.commands.conspecgenfromactiviti">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="eu.aniketos.mtm.menus.mtm"
               label="MTM">
            <command
                  commandId="eu.aniketos.mtm.commands.mtm"
                  label="SRS to BPMN Activiti Transformation"
                  style="push">
            </command>
            <command
                  commandId="eu.aniketos.mtm.commands.mappinggen"
                  label="Map an activiti model to a SRS model"
                  style="push">
            </command>
            <command
                  commandId="eu.aniketos.mtm.commands.conspecgen"
                  label="Generate Consumer Policies from SRS"
                  style="push">
            </command>
            <command
                  commandId="eu.aniketos.mtm.commands.conspecgenfromactiviti"
                  label="Generate Consumer Policies from Activiti"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="es.esi.gemde.modeltransformator.sessiondata">
      <transformation
            engine="MOFScript"
            name="mapping2activiti">
         <input
               etype="eu.aniketos.mtm.mapping.DocumentRoot">
         </input>
         <file
               file="transformations/mapping2activiti_mtmModel.m2t">
         </file>
      </transformation>
   </extension>
   <extension
         id="XML Templates"
         name="XML Templates"
         point="es.esi.gemde.modeltransformator.sessiondata">
      <transformation
            engine="MOFScript"
            name="Availability">
         <file
               file="transformations/Availability.m2t">
         </file>
         <input
               etype="eu.aniketos.mtm.consumerpolicies.consumerpolicies.Availability">
         </input>
      </transformation>
      <transformation
            engine="MOFScript"
            name="Integrity">
         <file
               file="transformations/Integrity.m2t">
         </file>
         <input
               etype="eu.aniketos.mtm.consumerpolicies.consumerpolicies.Integrity">
         </input>
      </transformation>
      <transformation
            engine="MOFScript"
            name="NoDelegation">
         <file
               file="transformations/NoDelegation.m2t">
         </file>
         <input
               etype="eu.aniketos.mtm.consumerpolicies.consumerpolicies.NoDelegation">
         </input>
      </transformation>
      <transformation
            engine="MOFScript"
            name="NoRepudiation">
         <file
               file="transformations/NoRepudiation.m2t">
         </file>
         <input
               etype="eu.aniketos.mtm.consumerpolicies.consumerpolicies.NoRepudiation">
         </input>
      </transformation>
      <transformation
            engine="MOFScript"
            name="SeparationOfDuty">
         <file
               file="transformations/SeparationOfDuty.m2t">
         </file>
         <input
               etype="eu.aniketos.mtm.consumerpolicies.consumerpolicies.SeparationOfDuty">
         </input>
      </transformation>
      <transformation
            engine="MOFScript"
            name="Trustworthiness">
         <file
               file="transformations/Trustworthiness.m2t">
         </file>
         <input
               etype="eu.aniketos.mtm.consumerpolicies.consumerpolicies.Trustworthiness">
         </input>
      </transformation>
      <transformation
            engine="MOFScript"
            name="BindingOfDuty">
         <file
               file="transformations/BindingOfDuty.m2t">
         </file>
         <input
               etype="eu.aniketos.mtm.consumerpolicies.consumerpolicies.BindingOfDuty">
         </input>
      </transformation>
      <transformation
            engine="MOFScript"
            name="Confidentiality">
         <file
               file="transformations/Confidentiality.m2t">
         </file>
         <input
               etype="eu.aniketos.mtm.consumerpolicies.consumerpolicies.Confidentiality">
         </input>
      </transformation>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.aniketos.mtm.preferences.MTMPreferencePage"
            id="eu.aniketos.mtm.page"
            name="MTM">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.aniketos.mtm.preferences.MTMPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contextHelp.xml"
            plugin="eu.aniketos.mtm">
      </contexts>
      <contextProvider
            class="org.eclipse.help.internal.context.ContextFileProvider">
      </contextProvider>
   </extension>

</plugin>
